.topBar {
    background-color: #f9991b;
    margin: 0 -2.6% 20px -2.5%;
    margin-bottom: 0;
    padding: 3% 2.5%;
    color: white;
    position: fixed;
    width: 100%;
    top: 95px;
    font-size: 1.1em;
}

.art_w {
    background-color: #FCFCFC;
    background: linear-gradient(180deg, rgba(252,252,252,1) 93%, rgba(237,28,36,0) 100%);
    width: 100%;
    padding: 10% 5%;
    padding-top: 50px;
    padding-bottom: 20%;
    transform: translateX(-5%);
}

:global .micro_w {
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 100%;*/
    margin-bottom: 40px;
}

:global .micro_w.left {
    padding-left: 25%;
    padding-right: 5%;
}

:global .micro_w.right {
    padding-right: 25%;
    padding-left: 5%;
}

:global .micro_w.left .img_w {
    left: 5%
}

:global .micro_w.right .img_w {
    right: 5%
}

:global .micro_w p {
    color: #060606;
    font-size: 11px;
}

:global .img_w {
    background-color: #FFE7C7;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: block;
    position: absolute;
    padding: 15px;
}

:global .img_w img {
    width: 90%;
}

:global .imgStick {
    position: absolute;
    background-color: #FFE7C7;
    height: 100%;
    width: 5%;
    left: 47.5%
}

:global .imgStick.end {
    height: 0;
}

.date {
    float: right;
    font-size: 10px;
}