.w {
    flex-direction: column;
    display: flex;
    position: absolute;
    top: -140px;
    align-items: flex-end;
    background-color: white;
    padding: 5px 5px 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    z-index: 2;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.3s;
}

.w p {
    font-size: 16px;
}

.ww {
    position: absolute;
    width: 120px;
    height: 0;
    top: 33px;
    right: -5px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}