* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Segoe UI Regular", Helvetica, Arial, SansSerif;
  color: #060606;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}
body {
  background-color: #f5f5f5;
}

p {
  font-family: "Segoe UI Regular";
  font-size: 14px;
  line-height: 1.5em;
  color: #7c7c7c;
}

h3 {
  font-family: "Segoe UI Regular";
  color: #7c7c7c;
}

h2 {
  font-family: "Segoe UI Regular";
  padding-bottom: 15px;
}

h1 {
  font-family: "Segoe UI Regular";
  margin-bottom: 10px;
  z-index: 9;
  float: left;
}

/* layout & nav */
.layout {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  position: absolute;
  height: 100%;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2.5%;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  position: relative;
}

.header {
  background-color: white;
  position: fixed;
  width: 100%;
  max-width: 1200px;
  top: 0;
  z-index: 10;
}

.menu-ico {
  display: flex;
  position: relative;
}

.menu-ico img {
  margin: 0 auto;
}

nav {
  background-color: #fcfcfc;
  cursor: pointer;
  padding-right: 2.5%;
}

.navWrap {
  display: flex;
}

.content {
  padding: 0 20px;
  /*overflow-x: hidden;*/
  margin-top: 95px;
}
footer {
  display: flex;
  margin: 2.5% auto;
  font-size: 6px;
}
