* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI Regular' ,Helvetica, Arial, SansSerif;
    color: #060606;
}

html, body {
    height: 100%;
}
body {
    background-color: #D8D8D8
}
p {
    font-family: 'Segoe UI Regular';
    font-size: 14px;
    line-height: 1.5em;
    color: #7C7C7C;
}
h3{
    font-family: 'Segoe UI Regular';
    color: #7C7C7C;
}
h2{
    font-family: 'Segoe UI Regular';
    padding-bottom: 15px;
}
  p img {
    margin: 20px -20px -20px -15px;
    border-radius: 0px 0px 15px 15px;
    width: 100%;
    }

/* layout & nav */
.layout {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2.5%;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    position: relative;
}

.header {
    background-color: white;
    position: sticky;
    top: 0;
}

.menu-ico {
    display: flex;
    position: relative;
}

.menu-ico img {
    margin: 0 auto;
}

nav {
    background-color: #FCFCFC;
    cursor: pointer;
    padding-right: 2.5%
}

.navWrap {
    display: flex;
}

.content {
    padding: 0 2.5%;
    margin-top: 20px;
}
footer {
    display: flex;
    margin: 0 auto;
    margin-top: 5%;
    font-size: 6px;
}

.preview{
background-color: #fff;
    border-radius: 15px;
    padding: 15px
}
