.timeline {
  display: flex;
  flex-direction: column;
}

.timeline h1 {
  background-color: #f9991b;
  margin-left: -2.5%;
  padding: 16px 25px;
  color: white;
  position: fixed;
  top: 95px;
  font-size: 1.1em;
  width: 100%;
}

:global .pub {
   float: right;
   font-size: 0;
 }

:global .article_preview_w.active .pub {
  font-size: 12px;
  margin-top: 15px;
}

:global .article_preview_w {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 35px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  width: 80%;
  float: right;
  transition: all 0.3s;
}

:global .article_preview_w.active {
  margin-bottom: 65px;
  margin-top: 25px;
  transition: all 0.3s;
}

:global .article_preview_w p{
  font-size: 0;
  transition: all 0.3s;
}

:global .article_preview_w.active p{
  font-size: 14px;
  transition: all 0.3s;
}

:global .article_preview_w h2{
  font-size: 14px;
  line-height: 1.5em;
  color: #7C7C7C;
  padding-bottom: 10px;
  transition: all 0.3s;
}

:global .article_preview_w.active h2{
  font-size: 24px;
  color: #060606;
  transition: all 0.3s;
}

:global .dot {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: #f9991b;
  color: #f9991b;
  content: "-";
  position: absolute;
  left: 4%;
  transition: all 0.3s;
}

:global .dot.active {
  width: 10vw;
  height: 10vw;
  transform: translate(-2.5vw, -2.5vw);
  transition: all 0.3s;
}

.scrollbar {
  position: fixed;
  width: 1%;
  left: 6%;
  height: 120%;
  background: #f9991b;
  margin-top: -20%;
  z-index: 5;
}

.timelineBody{
  padding-top: 80px;
}

.topBar{
  z-index: 9;
  position: fixed;
  max-width: 1200px;
  width: 100%;
}

.closeArticle {
  position: absolute;
  right: 50px;
  width: 25px;
  height: 25px;
  top: 21px;
  z-index: 10;
}
.closeArticle:before, .closeArticle:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #fff;
  }
  .closeArticle:before {
    transform: rotate(45deg);
  }
  .closeArticle:after {
    transform: rotate(-45deg);
  }
  
/*.scrollball {*/
/*  width: 2%;*/
/*  height: 25%;*/
/*  border-radius: 50%;*/
/*  background-color: #f9991b;*/
/*  position: fixed;*/
/*  left: 5.5vw;*/
/*}*/



@media only screen and (min-width: 1200px) {
    .scrollbar {
      left: 10%;
    }
    :global .dot {
      left: 8%;
    }
  }

@media only screen and (min-width: 1440px) {
  .scrollbar {
    left: 16%;
  }
  :global .dot {
    left: 14%;
  }
}


