.preview{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
}
.preview img {
    margin: 20px -20px -20px 0px;
    border-radius: 0px 0px 15px 15px;
    width: 100%;
}
.preview h2,.preview h3,.preview p{
    padding: 15px 15px 0px 15px;
}